<div id="sidebar-pages" class="collapse">
  <ul class="nav nav-pills flex-column" data-hook="admin_page_sub_tabs" aria-expanded="false">
    <%= tab :blog_posts, match_path: '/blog_posts' %>
    <%= tab :pages, match_path: '/pages' %>
    <%= tab :blogs, match_path: '/blogs' %>
  </ul>
</div>
